@import "./styles/navstyles.css";
@import "./styles/footer.css";
@import "./styles/contactform.css";
@import "./styles/fivestarsbar.css";
@import "./styles/textblock.css";
@import "./styles/menuteaser.css";
@import "./styles/cateringblock.css";
@import "./styles/homehero.css";
@import "./styles/menupage.css";
@import "./styles/reservewidge.css";
@import "./styles/reservepage.css";
@import "./styles/steakandwine.css";
@import "./styles/privatechef.css";
@import "./styles/cateringmenu.css";

@font-face {
  font-family: "Hornsea";
  src: url("/fonts/hornsea-fc-black.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HornseaBold";
  src: url("/fonts/hornsea-bold.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MrDafoe";
  src: url("/fonts/mrdafoe-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  /* Neutrals */
  --monserrat: "montserrat", sans-serif;
  --hornsea: "Hornsea";
  --hornsea-bold: "HornseaBold";
  --color-cream: #f5f1eb;
  --color-charcoal: #1e1c1b;

  /* Primary Brand Reds */
  --color-red: #af2f1b;
  --color-deep-red: #601b09;

  /* Accent */
  --color-green: #16392f;
}

/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button,
input,
textarea,
select {
  font: inherit;
}

/* BASE */
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-cream);
  color: var(--color-charcoal);
  font-family: sans-serif; /* swap later */
  line-height: 1;
}

html,
body {
  height: 100%;
  margin: 0;
}

.site-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

/* TYPOGRAPHY */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.2;
  margin: 0;
}

h1 {
  font-family: "Hornsea", serif;
}

.script {
  font-family: "MrDafoe", cursive;
}

h5 {
  font-family: "montserrat", sans-serif;
  font-weight: 700;
  font-style: italic;
}

p {
  margin: 0;
  font-family: "big-caslon-fb", serif;
  font-weight: 400;
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

/* a:hover {
  border-bottom: 2px solid;
  transition: 1s;
} */

/* UTILITIES */
.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 var(--space-md);
}

.text-center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

/* BUTTON BASE */
button {
  cursor: pointer;
  border: none;
  background: none;
}

input,
select,
textarea {
  border: 1px solid white;
  background: rgba(255, 255, 255, 0.25);
  color: white !important;
  text-align: center;
  padding: 0.7rem 1.5rem;
}

form {
  button {
    border: 1px solid white;
    color: white;
    text-align: center;
    padding: 0.7rem 1.5rem;
  }
}

input::placeholder,
textarea::placeholder {
  color: #fff; /* adjust to taste */
  opacity: 1; /* fixes weird browser fading */
}

input,
textarea,
select {
  border: 1px solid #ccc;
  padding: 0.75rem 1rem;
  outline: none;
  transition: border 0.2s ease, box-shadow 0.2s ease;
}

input:focus,
textarea:focus,
select:focus {
  box-shadow: 0 0 0 2px rgba(158, 42, 31, 0.2); /* soft glow */
}

select {
  padding: 0.75rem 1rem;
  font-family: inherit;
  color: #333;
  cursor: pointer;
  transition: border 0.2s ease, box-shadow 0.2s ease;
}
